<div *ngIf="moduleForm">

    <form [formGroup]="moduleForm">


        <fieldset>
            <label>
                Code:
            </label>
            <input type="text" formControlName="code">

        </fieldset>

        <fieldset>
            <label>
                Naam:
            </label>
            <input type="text" formControlName="name">

        </fieldset>

        <fieldset>
            <label>
                EC:
            </label>
            <input type="number" formControlName="EC">

        </fieldset>

        <fieldset>
            <label>
                Blok:
            </label>
            <input type="number" formControlName="blok">

        </fieldset>

        <fieldset>
            <label>
                Omschrijving:

            </label>
            <textarea type="text" formControlName="omschrijving"></textarea>


        </fieldset>

    </form>
</div>